

{% extends "main.html" %}
{% block title %}Registros{% endblock %}
{% block body %}



<ul class="nav">

    <li class="nav-item">
        <a target="_blank" title="generar xml" href="admins?accion=generarxml"><i class="far fa-file-excel"></i></a>
    </li>

</ul>

<div id="registros">

</div>

<script>

    function registros(){
        $("#registros").append('<i class="fas fa-spinner faa-spin animated"></i>')
        $.ajax({url:"/portal/registros",success:function(res){
            $("#registros").html(res)
        }})

    }
    $(function(){

        registros()
        setInterval(registros, 2000);
    })
</script>

{% endblock %}
