

{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-12">
            {% if resultado %}
                <div class="alert alert-{{bcolor}}" role="alert">
                    {{resultado}}
                </div>
            {% endif %}        
        </div>
        <div class="col-md-12">
            <h2>Registro</h2>
        </div>
        <div class="col-md-12">
            <form method="POST" action="">
                    {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input required  type="text" name="nombre" id="nombre" class="form-control" id="" aria-describedby="emailHelp" placeholder="Nombre De Usuario">                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Correo de Confirmacion</label>
                <input required  type="email" name="correo" id="correo" class="form-control" id="" aria-describedby="emailHelp" placeholder="Correo de Confirmacion">                
            </div>            
            <div class="form-group">
                <label for="exampleInputPassword1">Carrera</label>
                <input required  type="text" name="carrera" id="carrera" class="form-control" id="" aria-describedby="emailHelp" placeholder="Carrera">                
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">No. De Control</label>
                <input required  type="text" name="nocontrol" id="nocontrol" class="form-control" id="" aria-describedby="emailHelp" placeholder="No. De Control">                
            </div>
      

        <button type="submit"  class="btn btn-primary">Enviar Solicitud</button>
    </form>
    
    </div>

    <div class="col-md-12"><br></div>

    <script>

        function isValid(str){
        return !/[~`!#$ñáéíóú%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(str);
        }
        
        $(function(){
            /*validar 
            Deberán ser llenados sin acentos,
            caracteres especiales letras nn's etcétera ya que esos
            datos son utilizados para la generación del correo electrónico, 
            por lo anterior es necesario que sea validado durante la captura del estudiante 
            o realizar un proceso de conversión previo a la generación del archivo
            
             */

             $('form').submit(function () {
                
                // Get the Login Name value and trim it
                var name = $.trim($('#nombre').val());
                
                // Check if empty of not
                if (isValid(name) ==  false){
                    alert("Nombre no valido: No incluir acentos ni letra ñ " +"(" + name +")")
                    return false;
                }
                name = name.replace(/[^a-z0-9\s]/gi, '').replace(/[_\s]/g, '-')
                if (name  === '' || name.length < 6) {
                    alert('Nombre no valido es muy corto o vacio');
                    return false;
                }
            });
                return false;
        })
    </script>


{% endblock %}
